<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/plain;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="gin结合gorm实现的注册登陆demo">
    <title>登陆</title>
</head>
<body>
<form action="/v1/login" method="post">
    <table>
        <tr><td align="center">用户名：</td><td><input type="text" name="uname" id="uname" maxlength="20"></td></tr>
        <tr><td align="center"> 密码：</td><td><input type="password" name="upassword" id="upassword" maxlength="20"></td></tr>
        <tr><td></td><td align="right"><input type="submit" value="登陆">&nbsp;&nbsp;&nbsp;<input type="button" onclick="reg" value="注册">&nbsp;</td></tr>
    </table>
</form>
</body>